{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": 3,
                "targets": {
                    "browsers": [
                        "last 4 version",
                        "ie >= 10"
                    ]
                }
            }
        ],
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-proposal-export-default-from"
    ]
}
