{
    "parser": "babel-eslint",
    "plugins": [
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:import/recommended"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-restricted-syntax": ["error", "never"],
        "no-extra-boolean-cast": 0,
        "no-undef": 0,
        "camelcase": ["error", {"allow": ["^UNSAFE_"]}],
        "import/no-named-as-default": [0, "never"],
        "import/prefer-default-export": [0, "never"],
        "import/no-unresolved": [0, "never"],
        "import/default": [0, "never"],
    }
}
